/* variables*/
:root {
  --primary-color: #303030;
  --secondary-color: hsl(37, 100%, 50%);
}

/* Imported fonts */
.roboto-style {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 5;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Media styles */

img {
  width: 100%;
  height: auto;
  max-width: 1200px;
  max-height: 1200px;
  margin: auto;
  position: static;
}

video, audio {
  display: block;
  max-width: 100%;
  margin: auto;
}

/* general styles */

* {
  background-color: var(--primary-color, --secondary-color);
  color: lightgrey;
}

button {
  width: auto;
  height: 30px;
  background-color: var(--secondary-color);
  text-align: center;
  color: black;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  border: none;
}

button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

details:active{
  cursor: pointer;
}

/* form */

/* text styles */

h1 {
  color: color-mix(in lch increasing hue, hsl(0, 80%, 46%), coral)
}

#due_date {
  color: red;
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
}

/* Flexbox Layouts */

/* Grid Layouts */